
<main id="intro">
<div class="container">
  <br><br><br><br><br><br><br>
  <form class="form-signin" id="login-form">
      <h2 class="h3 mb-3 font-weight-normal text-center" style="color: #ffffff;">Please Sign In</h2>
      <br>
      <div class="form-floating mb-3">
        <input type="email" id="inputEmail" name="email" [(ngModel)]="email" class="form-control" placeholder="associate@revature.net" required autofocus="">
        <label for="inputEmail">Email Address</label>
        <div class="invalid-feedback">
          Please Enter an Email
        </div>
      </div>
      <div class="form-floating">
        <input type="password" id="inputPassword" name="password" [(ngModel)]="password" class="form-control" placeholder="******" required>
        <label for="inputPassword">Password</label>
        <div class="invalid-feedback">
          Please Enter a Password
        </div>
      </div>
      <br>
      <button class="btn btn-secondary btn-lg btn-block" type="submit" (click)="login()">Sign In</button> <!--Button Color-->
      <div id="remember-me" *ngIf="message">{{message}}</div>
  </form>
  <br><br><br><br><br><br><br><br>
</div>
</main>
