<div id="intro" class="view">

  <div class="mask rgba-black-strong">

    <div class="container-fluid d-flex align-items-center justify-content-center h-100">

      <div class="row d-flex justify-content-center text-center">

        <div class="col-md-10">

          <br><br><br><br><br><br><br><br><br><br> 


          <div class="container">
            <h1 style="color:white;">({{topic.tag.name}}) {{topic.name}}</h1>
            <p style="color:white;">My competency: 
              <input type="range" min="0" max="5" [(ngModel)]="competency" (ngModelChange)="updateCompetency()"
              [ngModelOptions]="{updateOn: 'blur'}" />
            </p>
            <ul style="color:white">
              <li>
                <h3>My Notes</h3>
                <div *ngIf="selfNotes && !isEditing">{{selfNotes.content}}</div>
                <textarea *ngIf="!selfNotes || isEditing" [(ngModel)]="selfNotes.content"></textarea>
                <button (click)="isEditing = !isEditing">Edit</button>
              </li>
              <li *ngIf="starredNotes">
                <h3>{{starredNotes.employee.name}}'s Notes</h3>
                <div>{{starredNotes.content}}</div>
              </li>
              <li *ngFor="let n of notes; let index = index; trackBy:trackByIndex">
                <div >
                  <h3>{{n.employee.name}}'s Notes</h3>
                  <div>{{n.content}}</div>
                </div>
              </li>
            </ul>
          </div>
          
          <br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
      </div>
    </div>
  </div>
</div>
