<header>
    <!--Mask-->
        <div id="intro" class="view">
        
            <div class="mask rgba-black-strong">
        
              <div class="container-fluid d-flex align-items-center justify-content-center h-100">
        
                <div class="row d-flex justify-content-center text-center">
        
                  <div class="col-md-10">

                    <!-- Description -->
                    <h4 class="my-4" style="color:white;">Trainer Dashboard</h4>
                                      
                    <div id = "trainer-dash-btns" class="btn-group" role="group">
                      <a type="button"class="dash-btn btn btn-outline-light" routerLink='batch-data' >Batch Averages</a>
                      <a type="button" class="dash-btn btn btn-outline-light" routerLink='info' >Trainer Information</a>
                      <a type="button" class="dash-btn btn btn-outline-light" routerLink='curriculum' >Calendar</a>
                      <a type="button" class="dash-btn btn btn-outline-light" routerLink='batch-associates' >Batch Associates</a>
                      <a type="button" class="dash-btn btn btn-outline-light" routerLink='qc'>QC Feedback</a>
                    </div>
        
                  </div>
        
                </div>
        
              </div>
        
            </div>
        
        </div>
          <!--/.Mask-->
</header>

